html {
      background:#eee; 
/*    color:#585858; */
/*    padding:17px; */
}

body {
    max-width:45em;
    margin: 0 auto;
/*    border: 1px solid LightGrey; */
}

body .title {
    text-align:center;
}

#banner {
    height: 1.0em;
/*    background-color: yellow; */
}

#banner .title {
    float: left
}

#banner nav li {
    float:right;
}

ul {
    list-style-type: none;
}

#banner a, li a {
    display:inline-block;
    height: 1em; 
    padding:0 .5em;
    text-decoration:none;
}

#postamble.status{
    text-align: center;
    font-size: 0.8em;
}
