html {
      background:#eee; 
/*    color:#585858; */
/*    padding:17px; */
}

body {
    max-width: 50em;
    margin: 0 auto;
/*    border: 1px solid LightGrey; */
    padding-bottom: 0.8em;
}

/* preamble */
body .title {
    text-align:center;
}

#banner {
    height: 1.0em;
/*    background-color: yellow; */
}

#banner .title {
    float: left
}

#banner nav li {
    float:right;
}

ul {
    list-style-type: none;
}

#banner a, li a {
    display:inline-block;
    height: 1em; 
    padding:0 .5em;
    text-decoration:none;
}

/* postamble */
#postamble.status{
    text-align: center;
    font-size: 0.8em;
}

/* content */
#content {
    font-size: 90%;
/*    background: #fff; */
    /* The font-family setting is stolen from github */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* code block */
code {
}

a {
    text-decoration: none;
}

pre {
    overflow:auto;
    color:#585858;
    background-color:#f5ebe1;
/*    font-size:1.2em; */
    border-color:#585858; 
    border-style:solid;
    border-width:1px;
    margin:1em 0;
    padding:.5em;
}

pre.src{
	overflow:auto;
	padding-top:0.8em;
	padding-bottom:0.8em;
	position:relative;
	font-size:1em;
    width: 90%;
    margin: 1em auto;
    font: 12px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

pre.src:before{
	display:block;
	position:absolute;
	background-color:#585858;
	top:0;
	right:0;
	padding:.25em .5em;
	border-bottom-left-radius:8px;
	border:0;
	color:#fff;
	font-size:80%;
}

pre.src:hover:before{
	display:inline
}

pre.src-sh:before{ content:'sh' }
pre.src-bash:before{ content:'bash' }
pre.src-emacs-lisp:before{ content:'Emacs Lisp' }
pre.src-R:before{ content:'R' }
pre.src-org:before{ content:'Org' }
pre.src-c+:before{ content:'C++' }
pre.src-c:before{ content:'C' }
pre.src-html:before{ content:'HTML' }
